:root {
  --bg-color: white;
  --text-color: black;
  --ball-color: red;
  --floor-color: black;
}

.dark {
  --bg-color: black;
  --text-color: white;
  --ball-color: blue;
  --floor-color: white;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
}